h1 {
  font-family: 'Tinos', serif;
  text-align: center;
  font-size: 4em;
}
.blr {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
#balance {
  margin-top: 2.4em;
  display: none;
}
